.contact {
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    margin: 200px 0 100px;

}

.contact__container{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 600px;
    padding:30px ;
    margin-top: 20px;
}

.contact__container>p{
    font-size:  20px; 
    text-align: left;
    padding-bottom: 30px;   
}

.contact__container>p> span {
    color: orangered;
}

.contact__icons > a> button > span > .MuiSvgIcon-root{
    color: white;
    font-size: 30px;
}
.contact__icons > a> .MuiIconButton-root {
    color:white !important ;
}
